// color
$colorBlack: #070102;
$colorWhite: #fff;
$colorYellow: #FCFF54;
$colorOrange: #FF7554;
$colorGreen_line: #06C755;
$colorBlue: #4A8BB5;
$colorLightBlue: #B0BEC5;
$colorBlueGray: #67899B;
$colorBlueGray_bg: #E3ECF1;
$colorBlueGray_txt: #2E4A59;
$colorGray: #E3ECF1;

// font-family
$fontFamily: 'Noto Sans JP', sans-serif;
$fontFamilyRoboto: 'Roboto Flex', sans-serif;
$fontFamilyBIZ: "BIZ UDGothic", sans-serif;

// transition
$duration: 1s;

// opacity
$opacity: 0.4;
